<div id="copyright" class="entry-copyright">
  <blockquote>
	<p><b>版权声明</b>：本文采用<b>署名(BY)</b>-<b>非商业性使用(NC)</b>-<b>相同方式共享(SA)</b>许可协议授权,转载请注明作者及出处</p>
	<p><b>本文作者</b>：<a href="<%- url_for() %>" target="_blank" title="<%= config.author %>"><%= config.author %></a></p>
	<p><b>本文标题</b>：<a href="<%- url_for(post.path) %>" target="_blank" title="<%= post.title %>"><%= post.title %></a></p>
	<p><b>本文链接</b>：<a href="<%- url_for(post.path) %>" target="_blank" title="<%= post.title %>"><%= config.url %><%- url_for(post.path) %></a></p>
  </blockquote>
</div>