<% if (post.prev || post.next){ %>
  <div class="post-navigation" role="navigation">
    <% if (post.prev){ %>
      <a href="<%- url_for(post.prev.path) %>" rel="prev"><%= __('newer') %><%= post.prev.title %></a>
    <% } %>
    <% if (post.next){ %>
      <a href="<%- url_for(post.next.path) %>" rel="next"><%= __('older') %><%= post.next.title %></a>
    <% } %>
    </div>
  </div>
<% } %>
