<header class="page-header">
  <h1 class="page-title"><%= __('category_total_count', site.categories.length) %></h1>
</header>
<div class="hentry archives-article-wrap">
  <% site.categories.sort('name').map(function(category){  %>
    <div class="archives-wrap">
      <div class="archive-year-wrap" id="<%= category.name %>">
        <h2 class="archive-category"><%= category.name %></h2>
      </div>
      <div class="archive-content-wrap">
        <% category.posts.sort('-date').map(function(post, i){  %>
          <%- partial('_partial/archive-post', {post: post, index: true}) %>
          <% if (post.subtitle && post.subtitle.length) { %>
            <h3 class="post-subtitle"><%- post.subtitle %></h3>
          <% } %>
        <% }) %>
      </div>
    </div>
  <% }) %>
</div>
