<!DOCTYPE html>
<html>

<%- partial('_partial/head') %>

<body>
  <div class="preloader">
    <div class="preloader-inner">
      <ul><li></li><li></li><li></li><li></li><li></li><li></li></ul>
    </div>
  </div>
  <div id="page" class="site">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div id="content" class="site-content">
      <div class="container">
        <section id="primary" class="content-area"><%- body %></section>
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      </div>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
  <%- partial('_partial/anchor') %>
  <%- partial('_partial/script') %>

</body>

</html>
