<header class="page-header">
  <h1 class="page-title"><%= __('tag_total_count', site.tags.length) %></h1>
</header>
<div class="hentry archives-article-wrap">
  <% if(site.tags.length) { %>
    <blockquote>
      <%- tagcloud({min_font: 14, max_font: 28}) %>
    </blockquote>
  <% } %>
<!--
  <% site.tags.sort('name').map(function(tag){  %>
    <section class="archives-wrap">
      <div class="archive-year-wrap" id="<%= tag.name %>">
        <h2 class="archive-tag"><%= tag.name %></h2>
      </div>
      <div class="archive-content-wrap">
        <% tag.posts.sort('-date').map(function(post, i){  %>
          <%- partial('_partial/archive-post', {post: post, index: true}) %>
          <% if (post.subtitle && post.subtitle.length) { %>
            <h3 class="post-subtitle"><%- post.subtitle %></h3>
          <% } %>
        <% }) %>
      </div>
    </section>
  <% }) %>
-->
</div>
