<% if (site.posts.length){ %>
  <aside class="widget widget_recent_posts">
    <h4 class="widget-title"><%= __('recent_posts') %></h4>
    <ul>
    <% site.posts.sort('date', -1).limit(3).each(function(post){ %>
      <li class="clearfix">
      <% if (post.photos != "" || theme.random_thumb){ %>
        <div class="recent-thumb col-md-3">
          <a href="<%- url_for(post.path) %>" title="<% post.title %>">
            <img width="100" height="100" src="<% if (post.photos != ""){ %><%= post.photos[0] %><% } else if (theme.random_thumb){ %>https://unsplash.it/120/120/?random<% }%>" alt="<% post.title %>" title="<% post.title %>">
          </a>
        </div>
        <div class="recent-title col-md-9">
      <% } else { %>
        <div class="recent-title col-md-12">
      <% } %>
          <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i><%= date(post.date, 'MMMM D, YYYY') %></span>
        </div>
      </li>
    <% }) %>
    </ul>
  </aside>
<% } %>