<article id="<%= post.layout %>-<%= post.slug %>" <% if (!index){ %>style="border: none; padding-bottom: 20px;"<% } %> class="article article-type-<%= post.layout %> hentry category-<%= post.category %> clearfix">
  <header class="entry-header">
  <% if (post.link || post.title){ %>
    <%- partial('post/title', {class_name: 'entry-title'}) %>
  <% } %>
    <div class="entry-meta">
      <%- partial('post/date', {class_name: 'entry-date', date_format: 'MMMM DD, YYYY'}) %>
      <%- partial('post/category') %>
    </div>
  </header>
  <% if (index){ %>
    <div class="entry-thumb">
      <% if (post.photos != ""){ %>
        <a href="<%- url_for(post.path) %>"><img width="500" height="300" src="<%= post.photos[0] %>" alt=""></a>
      <% } else { %>
        <a href="<%- url_for(post.path) %>"><img width="500" height="300" src="https://unsplash.it/500/300/?random" alt=""></a>
      <% } %>
    </div>
    <div class="entry-summary">
      <% if (post.excerpt) { %>
        <%- post.excerpt %>
      <% } else { %>
        <%- truncate(strip_html(post.content), {length: 200, omission: '...'}) %>
      <% } %>
    </div>
    <P class="read-more clearfix">
      <a class="button post-button" href="<%- url_for(post.path) %>"><%= __('read_more') %></a>
    </P>
  <% } else { %>
    <div id="entry-content" class="entry-content"><%- post.content %></div>
  <% } %>
</article>
<% if (!index) { %>
  <footer class="entry-footer">
    <div class="entry-meta" style="border-bottom: none;">
      <%- partial('post/tag') %>
    </div>
    <%- partial('post/copyright') %>
  </footer>
  <%- partial('post/nav') %>
<% } %>
</section>
