<article id="<%= post.slug %>" class="article clearfix">
  <header class="post-header">
    <%- partial('post/title') %>
    <div class="post-meta">
      <%- partial('post/date', {date_format: 'MMMM DD, YYYY'}) %>
      <%- partial('post/category') %>
    </div>
  </header>
  <% if (index){ %>
    <div class="post-thumb">
      <% if (post.photos != ""){ %>
        <a href="<%- url_for(post.path) %>"><img width="500" height="300" src="<%= post.photos[0] %>" alt=""></a>
      <% } else { %>
        <a href="<%- url_for(post.path) %>"><img width="500" height="300" src="https://unsplash.it/500/300/?random" alt=""></a>
      <% } %>
    </div>
    <div class="post-summary">
      <% if (post.excerpt) { %>
        <%- post.excerpt %>
      <% } else { %>
        <%- truncate(strip_html(post.content), {length: 200, omission: '...'}) %>
      <% } %>
    </div>
    <P class="read-more clearfix">
      <a class="button post-button" href="<%- url_for(post.path) %>"><%= __('read_more') %></a>
    </P>
  <% } else { %>
    <div id="post-content" class="post-content"><%- post.content %></div>
    <footer class="post-footer">
      <%- partial('post/tag') %>
      <%- partial('post/copyright') %>
    </footer>
  <% } %>
</article>
<% if (!index) { %>
  <%- partial('post/nav') %>
<% } %>
