<header id="header" class="site-header">
  <div class="container">
    <div class="site-branding">
      <h1 class="site-title">
        <a href="<%- url_for() %>" title="<%= config.title %>"><%= config.title %></a>
      </h1>
    </div>
    <div class="btn-menu"><ul><li></li><li></li><li></li></ul></div>
    <div id="mainnav" class="main-navigation">
      <ul id="primary-menu" class="menu">
        <% for (var i in theme.menu){ %>
          <li><a href="<%- url_for(theme.menu[i]) %>" title="<%= i %>"><%= __(i) %></a></li>
        <% } %>
      </ul>
    </div>
  </div>
</header>
<div class="header-clone"></div>
